<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="9.0.0-preview.24165.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
</packages>